/*
 * 方正微信落地页 
 * mr.sheak@gmail.com 20150914
 */
*{ margin: 0; padding:0;}
body{ 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    -webkit-text-size-adjust:100%; 
    -ms-text-size-adjust:100%;
    font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;display:inline-block;display:block;}
.hide{ display: none;}
.show{ display: block;}
.text-center{ text-align: center;}
img {
  display: block;
  border:0;
}

ol,ul,li{list-style:none; margin:0; padding:0;}


.jump{
-webkit-animation:bounceIn 1s .2s ease both;
-moz-animation:bounceIn 1s .2s ease both;}
@-webkit-keyframes bounceIn{
0%{opacity:0;-webkit-transform:scale(.3)}
50%{opacity:1;-webkit-transform:scale(1.05)}
70%{-webkit-transform:scale(.9)}
100%{-webkit-transform:scale(1)}
}
@-moz-keyframes bounceIn{
0%{opacity:0;-moz-transform:scale(.3)}
50%{opacity:1;-moz-transform:scale(1.05)}
70%{-moz-transform:scale(.9)}
100%{-moz-transform:scale(1)}
}



/*custom*/
.f_edm_box{
    max-width: 750px;
    margin: 20px auto;
    overflow: hidden;
    padding: 0 15px;
}


h1{ color: #333; font-size: 20px;}
h2{ color: #333; font-size: 16px;}
h3{ color: #333; font-size: 14px;}
small{ color: #999; font-size: 12px;}

.mgt_30{ margin-top: 30px;}
.mgt_40{ margin-top: 40px;}
.mgb_10{ margin-bottom: 10px;}
.mgb_20{ margin-bottom: 20px;}
.ft_gray{ color: #999;}
.pd_0_20{ padding: 0 20px;}

.bt_b_red{ border-bottom: 2px solid #D80C18; padding-bottom: 10px;}
p{ font-size: 14px; color: #333; line-height: 24px;}
.end{ text-align: center; padding-bottom: 10px; border-bottom: 2px solid #ccc; font-size: 10px; color: #999; margin-top: 30px; }

.huigu{ border-left: 6px solid #EBEBEB; padding-left: 10px;}
.huiqu ul{}
.huigu ul li{}
.huigu ul li a{ font-size: 14px; color: #B4A46B; padding: 5px 0; display: block; text-decoration: none;}
.huigu ul li a:focus, .huigu ul li a:active, .huigu ul li a:hover{ text-decoration: none;}

img{ width: 100%; display: block; text-align: center;}


/* 兼容视网膜屏 */
@media only screen and (-Webkit-min-device-pixel-ratio: 2) {
    body{font-size:11.5px!important}.viewport{max-width:320px}
    
}
/* 兼容iphone4/4s */
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){
    body{font-size:12.5px!important}.viewport{max-width:360px}
    
}
/* 兼容iphone5 */
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
    body{font-size:16px!important}.viewport{max-width:480px}
    
}
/* 兼容iphone6 */
@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){
    body{font-size:16px!important}.viewport{max-width:667px}
    
}
/* 兼容iphone6 Plus */
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
    body{font-size:16px!important}.viewport{max-width:750px}
    
}
